// Import the functions you need from the SDKs you need
import React from "react"
import firebase from "firebase/compat"

// import  firebase from "firebase/compat/app";
// import "firebase/app"
// import "firebase/storage"
// import "firebase/app"
// r;

// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "",
  authDomain: "",
  projectId: "e",
  storageBucket: "",
  messagingSenderId: "",
  appId: "",
  measurementId: ""
};

// Initialize Firebase
firebase.initializeApp(firebaseConfig);
// firebase.initializeApp(firebaseConfig);
const auth = firebase.auth();





export {auth, firebase as default };
